.videotube-modal-overlay {
		color: #fff;
		display: none;
		z-index: 995;
		opacity: 0;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		position: fixed;
		background: #000;
		text-align: center;
}

#videotube-modal-container {
		z-index: 998;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
}

#videotube-modal {
		text-align: center;
		box-shadow: 0 0 40px #333;
	z-index: 99;
}

#videotube-modal-loading {
		z-index: 1;
		font-size: 1.5em;
		width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

#videotube-modal-close {
		position: fixed;
		right: 15px;
		top: 15px;
		padding: 3px 13px;
		z-index: 999;
		font-size: 25px;
		text-shadow: 0 0 10px #fff;
		border-radius: 3px;
		cursor: pointer;
		-webkit-transition-duration: 0.1s;
		-o-transition-duration: 0.1s;
		-moz-transition-duration: 0.1s;
		transition-duration: 0.1s;
}

#videotube-modal-close:hover {
		background: #333;
}
.video-title {
	padding-top: 15px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
}
.description-video {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	color: #CCCCCC;
}
.photo-title {
	padding-top: 15px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
}
.description-photo {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	color: #CCCCCC;
}
@media (max-width: 532px) {
	.video-title {
		font-size: 18px;
	}
	.description-video {
		font-size: 14px;
	}
	.photo-title {
		display: none;
		font-size: 18px;
	}
	.description-photo {
		display: none;
		font-size: 14px;
	}
}

.lds-ellipsis {
	display: inline-block;
	position: relative;
	width: 80px;
	margin-top: -340px;
}
@media (max-width: 532px ) {
	.lds-ellipsis {
		margin-top: -150px;
	}
}
@media (min-width: 533px) and (max-width: 1070px ) {
	.lds-ellipsis {
		margin-top: -200px;
	}
}
.lds-ellipsis div {
	position: absolute;
	top: 33px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #fff;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
	left: 8px;
	animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
	left: 8px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
	left: 32px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
	left: 56px;
	animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(24px, 0);
	}
}
